body {
  font-family: monospace;
  max-width: 50em;
  line-height: 1.4;
}

.component { }

.component-permalink {
  font-size: 80%;
  margin-bottom: 10px;
  text-align: right;
}

.component .name {
  margin-bottom: 0;
}

.component .body {
  border-top: 2px solid;
  padding: 10px;
}

.component .body.error {
  background: pink;
}

pre {
  overflow-x: scroll;
}
